:root {
  --bg-primary: oklch(22.59% 0.15643377085613766 264.0539924365888);
  --bg-secondary: oklch(97.02% 0 0);
  --cl-gold-accent: oklch(88.68% 0.182 95.33);
  --cl-gold-accent-hover: oklch(94.71% 0.0666 95.33);
  --cl-black-accent: oklch(27.8% 0.005 286.04);
  --cl-button: red;

  --footer-accent: oklch(94.12% 0.039 296.33 / 50%);

  /* --app-margin: 3.5rem clamp(10rem, 25vw, 40rem) 2.5rem; */
  --app-margin-topbottom: 2.5rem;
  --app-width: 1100px;
}

body {
  color: var(--bg-primary);
}

.logo {
  font-family: "Playfair Display";
  font-weight: 800;
  font-size: 2.65rem;

  color: oklch(94.12% 0.039 296.33 / 100%)
}

@keyframes spinIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes spinOut {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotateIn {
  animation: spinIn .35s ease-out forwards;
  animation-iteration-count: 1;
}
.rotateOut {
  animation: spinOut .35s ease-out forwards;
  animation-iteration-count: 1;
}

@keyframes expandIn {
  from {
    max-height: 100%;
  }
  to {
    max-height: 0;
  }
}
@keyframes expandOut {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}

.expandDescIn {
  animation: expandIn .35s ease-out forwards;
  animation-iteration-count: 1;
}

.expandDescOut {
  animation: expandOut .35s ease-out forwards;
  animation-iteration-count: 1;
}