:root {
  --bg-primary: oklch(22.59% 0.15643377085613766 264.0539924365888);
  --bg-secondary: oklch(97.02% 0 0);
  --cl-gold-accent: oklch(88.68% 0.182 95.33);
  --cl-black-accent: oklch(27.8% 0.005 286.04);
  --cl-button: red;

  --footer-accent: oklch(94.12% 0.039 296.33 / 50%);

  --app-margin: 3.5rem clamp(10rem, 25vw, 40rem) 2.5rem;
}

body {
  color: var(--bg-primary);
}

h1 {
 font-size: 3rem;
 font-weight: bold;
}