header {
  width: 100%;
  background: var(--bg-primary);

  top: 0;
  position: sticky;
  z-index: 1000;

  a,
  label {
      padding: .25rem;

      color: oklch(94.12% 0.039 296.33 / 95%);

      
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      line-height: 2;

      transition: color 150ms ease;
    }
    a:hover,
    a:active {
      color: white;
    }
  label {
    padding-top: 2rem;
    font-size: 2rem;
    line-height: 1.5rem;
  }

  .menu {
    max-width: var(--app-width);
    margin: 0 auto;

    padding: 0;

    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;

    a.logo {
      font-family: "Playfair Display", serif;
      font-weight: 800;
      font-size: 2.65rem;

      color: oklch(94.12% 0.039 296.33 / 100%);
      transition: color 150ms ease;
    }
    a.logo:hover,
    a.logo:active {
      color: white;
    }
    

    a.header-link-hover {
      font-weight: 400;
      transition: font-weight 150ms ease;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: block;
        box-sizing: border-box;

        bottom: 0;
        left: 0;

        width: 100%;
        height: .0675rem;

        background: white;

        transform: scaleX(0);
        transition: transform 200ms;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }
    
    a.contact-us {
      img {
        max-width: 3rem;
      }

      color: var(--bg-primary);
      background: var(--cl-gold-accent);

      transition: background 200ms ease-in;

      padding: .15rem .75rem;

      display: flex;
      flex-direction: row;
      gap: .75rem;

      border-radius: 1.15rem;

      font-size: 1.5rem;
      font-family: "Montserrat";
      font-weight: 500;
    }
    a.contact-us:hover,
    a.contact-us:active {
      background: oklch(94.71% 0.0666 95.33);
    }

  }

  #sidebar-active {
    display: none;
  }

  .open-sidebar-button, .close-sidebar-button {
    display: none;
  }

 @media (hover: none) and (pointer: coarse) and (max-width: 1100px) {

  div.menu {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;

    position: fixed;
    top: 0;
    left: -100%;

    height: 100vh;
    width: 70vw;

    z-index: 999;

    background: #1B003C;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

    transition: .5s ease-out;

    a {
      box-sizing: border-box;
      width: auto;
      height: auto;
      padding: .4rem 1rem;
      margin: 0 .7rem;

      justify-content: flex-start;
    }
    a.logo {
      line-height: 1;
    }
    a.contact-us {
      padding: .15rem .5rem;
    }
  }
  .open-sidebar-button, .close-sidebar-button {
    padding: 1rem;
    display: block;
  }
  #sidebar-active:checked ~ div.menu {
    left: 0;
  }
  #sidebar-active:checked ~ #overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
  }
}
}