.main-nav {
  width: 100%;
  height: 5vh;
  background: oklch(71.5% 0.166 13.11);
}

.main-nav .menu {
  font-size: clamp(1.35rem, 6vw, 2.75rem);
  line-height: 1;

  display: flex;
  align-items: center;
  
  gap: clamp(0.85rem, 4vw, 2rem);

  padding: 0.5rem;
}

/* .main-nav li:first-of-type {
  margin-left: auto;;
} */

.main-nav a {
  display: block;
  font-family: "Poppins", sans-serif;
  line-height: 2;
}

.main-nav .logo {
  font-family: "Playfair Display", serif;
}