section.hero {
  height: clamp(20rem, 42.5vw, 40rem);

  padding: 2rem clamp(2rem, 15vw, 45rem);

  background: var(--bg-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.25rem;

  color: white;

  .hero-text {
    grid-column: 1;
    grid-row: 1 / 3;

    .confidence {
      color: var(--cl-gold-accent);
    }

    .hero-description {
      color: rgba(255, 255, 255, 0.85);

      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: 400;
      margin-top: 0.75rem;
    }
  }

  .hero-clients {
    grid-column: 1;
    grid-row: 3;

    position: relative;

    color: rgba(255, 255, 255, 0.65);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 1.375rem;
    letter-spacing: 0.12em;

    .hero-client-imgs {
      margin: 1.5rem 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;


      li img {
        max-width: 3rem;
      }
    }
  }
  .hero-clients::before {
    content: '';
    position: absolute;

  }

  .hero-img {
    grid-column: 2;
    grid-row: 1 / 4;
    max-width: 100%;
    height: clamp(25rem, 50vh, 80rem);
  }
}



section.services {
  width: 100%;
  height: auto;
  background: white;

  margin: 4rem 0;
  padding: 0 clamp(2rem, 15vw, 45rem);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 2.25rem;
    line-height: 3.25rem;
    color: var(--bg-primary);
  }

  .services-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;

    .service {
      padding: 2rem;
      padding-bottom: 4rem;

      background: var(--bg-secondary);

      border-radius: 3rem;

      text-align: left;

      display: flex;
      flex-direction: column;

      .service-header {

        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .service-icon {
          max-width: 3.5rem;
          height: auto;

          padding: .35rem .85rem .35rem .65rem;

          border-radius: .85rem;

          display: flex;
          align-items: center;

          img {
            align-self: center;
            max-width: 2.325rem;
          }
        }

        .service-icon-with-background {
          background: var(--bg-primary);
          max-height: 2.25rem;
          img {
            max-height: 1.75rem;
          }
        }

        .service-button {
          color: black;
          background: white;
          
          aspect-ratio: 1 / 1.075;

          padding: 0.25rem 0.5rem;
          border-radius: 1.5rem;

          font-size: 2rem;
        }
        .service-button:hover {
          scale: 1.1;
          transition: scale 0.2s;
        }
      }

      h3 {
        text-align: left;

        margin: 0.75rem 0 ;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.3;
      }

      p {
        line-height: 1.5;
      }
    }
    .service:nth-child(1){
      background: oklch(24.12% 0.148 264.0539924365888);
      color: white;
    }
    .service:nth-child(4){
      background: oklch(96.38% 0.043 92.66);
    }
    .service:nth-child(2){
      background: oklch(87.9% 0.161 92.2);
    }
  }
}

section.about {
  background: var(--bg-primary);

  text-align: center;

  h2 {
    padding-top: 2rem;

    font-size: 2.25rem;
    line-height: 3.25rem;
    color: white;
  }
}