section.hero {
  height: clamp(20rem, 42.5vw, 40rem);

  padding: 2rem clamp(2rem, 15vw, 45rem);

  background: var(--bg-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.25rem;

  color: white;

  .hero-text {
    grid-column: 1;
    grid-row: 1 / 3;

    .confidence {
      color: var(--cl-gold-accent);
    }

    .hero-description {
      color: rgba(255, 255, 255, 0.85);

      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: 400;
      margin-top: 0.75rem;
    }
  }

  .hero-clients {
    grid-column: 1;
    grid-row: 3;

    position: relative;

    color: rgba(255, 255, 255, 0.65);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 1.375rem;
    letter-spacing: 0.12em;

    .hero-client-imgs {
      margin: 1.5rem 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;


      li img {
        max-width: 3rem;
      }
    }
  }
  .hero-clients::before {
    content: '';
    position: absolute;

  }

  .hero-img {
    grid-column: 2;
    grid-row: 1 / 4;
    max-width: 100%;
    height: clamp(25rem, 50vh, 80rem);
  }
}



section.services {
  width: 100%;
  height: auto;
  background: white;

  margin-top: 4rem;
  padding: 0 clamp(2rem, 15vw, 45rem);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 2.25rem;
    line-height: 3.25rem;
    color: var(--bg-primary);
  }

  .services-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;

    .service {
      padding: 2rem;
      padding-bottom: 4rem;

      background: var(--bg-secondary);

      border-radius: 3rem;

      text-align: left;

      display: flex;
      flex-direction: column;

      .service-icon {
        max-width: 3.75rem;
        height: auto;

        padding: .25rem .75rem;

        

        border-radius: .85rem;

        display: flex;
        align-items: center;

        img {
          align-self: center;
          max-width: 2rem;
        }
      }

      .service-icon-with-background {
        background: var(--bg-primary);
      }
      

      h3 {
        text-align: left;

        margin-bottom: 0.5rem;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.3;
      }
    }
<<<<<<< HEAD
    .service:nth-child(2){
      background: oklch(24.12% 0.148 264.0539924365888);

      color: white;
=======
    
    .service:nth-child(1) {
      background: oklch(96.38% 0.043 92.66);
>>>>>>> bdf466749648dfe93ac3b5e30319f73c8ca19580
    }
  }
}