section h2 {
  font-size: 3rem;
  font-weight: 700;
}

section.hero {
  display: flex;
  align-items: center;

  background: var(--bg-primary);

  .hero-container {
    max-width: var(--app-width);
    margin: var(--app-margin-topbottom) auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.25rem;

    color: white;

    .hero-text {
      grid-column: 1;
      grid-row: 1 / 3;

      .confidence {
        color: var(--cl-gold-accent);
      }

      .hero-description {
        color: rgba(255, 255, 255, 0.85);

        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }

    .hero-clients {
      grid-column: 1;
      grid-row: 3;

      position: relative;

      color: rgba(255, 255, 255, 0.65);
      font-family: "Bebas Neue";
      font-weight: 500;
      font-size: 1.35rem;
      line-height: 1.375rem;
      letter-spacing: 0.12em;

      .hero-client-imgs {
        margin: 1.5rem 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;


        li img {
          max-width: 3rem;
        }
      }
    }
    .hero-client-imgs::before {
      content: '';
      position: absolute; 
      top: -1.5rem;
      width: 100%;
      height: 0.5%;
      background: rgba(255, 255, 255, 0.65);
    }

    .hero-img {
      grid-column: 2;
      grid-row: 1 / 4;

      width: 100%;
      height: clamp(30rem, 60vh, 55rem);

      border-radius: 3.75rem;
    }
  }
}
  

@media (any-hover: none) {
    section.hero {
      display: flex;
      flex-direction: column;
    }
  }



section.services {

  max-width: var(--app-width);
  margin: var(--app-margin-topbottom) auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    color: var(--bg-primary);
  }

  
  
  .services-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;

    .service {
      padding: 2rem;
      padding-bottom: 4rem;

      background: var(--bg-secondary);

      border-radius: 3rem;

      text-align: left;

      display: flex;
      flex-direction: column;

      .service-header {

        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .service-icon {
          max-width: 3.5rem;
          height: auto;

          padding: .35rem .85rem .35rem .65rem;

          border-radius: .85rem;

          display: flex;
          align-items: center;

          img {
            align-self: center;
            max-width: 2.325rem;
          }
        }

        .service-icon-with-background {
          background: var(--bg-primary);
          max-height: 2.25rem;
          img {
            max-height: 1.75rem;
          }
        }

        .service-button {
          color: black;
          background: white;
          
          aspect-ratio: 1 / 1.075;

          padding: 0.25rem 0.5rem;
          border-radius: 1.5rem;

          font-size: 2rem;
        }
        .service-button:hover,
        .service-button:active {
          scale: 1.1;
          transition: scale 0.2s;
        }
      }

      h3 {
        text-align: left;

        margin: 0.75rem 0 ;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.3;
      }

      p {
        line-height: 1.5;
      }
    }
    .service:nth-child(1){
      background: oklch(24.12% 0.148 264.0539924365888);
      color: white;
    }
    .service:nth-child(4){
      background: oklch(96.38% 0.043 92.66);
    }
    .service:nth-child(2){
      background: oklch(87.9% 0.161 92.2);
    }
  }

  @media (any-hover: none) {
    .services-grid {
      display: flex;
      flex-direction: column;
    }
  }
}

section.about {
  color: white;

  padding: 1rem 0;

  .about-container {
    
    max-width: var(--app-width);
    margin: var(--app-margin-topbottom) auto;

    padding: 4rem;

    background: var(--bg-primary);

    border-radius: 5rem;

    h2 {
      padding-bottom: 2.5rem;

      text-align: center;
    }

    .about-description-container {

      display: flex;
      flex-direction: row;

      img {
        width: max(20vw, 50%);
        height: auto;
        margin-right: 2rem;

        border-radius: 2rem;
      }

      .text-container {
        font-size: clamp(0.8rem, 1.25vw, 1.25rem);
        line-height: 1.35;

        display: flex;
        flex-direction: column;
        gap: 4rem;
      }
    }
    @media (any-hover: none) {
      .about-description-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

section.contact {
  text-align: center;
  h2 {
    padding-top: 2rem;
    color: var(--bg-primary);
  }

  .contact-container {
    max-width: var(--app-width);
    margin: var(--app-margin-topbottom) auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .contact-icons {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      align-items: flex-start;
      justify-content: space-around;

      text-align: left;

      a {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          font-style: italic;
        }
        h4 {
            font-size: 1.25rem;
            line-height: 1.5;
            font-weight: 500;
          }
      }
    }
    .contact-form form {
      margin-left: 2rem;
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      input,
      textarea,
      button {
        padding: 1rem;

        text-align: left;

        background: oklch(97.02% 0 0);

        color: oklch(49.41% 0.0438 255.05);

        font-size: 1.15rem;
        font-weight: 700;

        border-radius: 1.5rem;
      }
      input::placeholder,
      textarea::placeholder {
        color: oklch(74.42% 0.0438 255.05)
      }

      textarea {
        grid-column: 1 / 3;
        height: 7rem;

        resize: none;
      }

      button {
        grid-column: 1 / 3;

        margin-top: 1rem;

        text-align: center;

        background: var(--bg-primary);
        color: white;
      }

      button:hover,
      button:active {
        background: var(--cl-gold-accent);
        color: var(--bg-primary);

        transition: background 0.45s, color 0.45s;
      }
    }
  }

  @media (any-hover: none) {
    .contact-container {
      flex-direction: column;
    }
  }
}